@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Custom variables
@import "variables";

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-blue-grey, 800);
$candy-app-accent: mat-palette($mat-deep-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

// Custom global classes
body {
	font: {
		family: $mat-font-family;
		size: $mat-body-font-size-base;
	}
	margin: 0;
}

* {
	box-sizing: border-box;
}

.carbon-logo-svg-1 {
	fill: $carbon-blue;
}

.carbon-logo-svg-2 {
	fill: $carbon-gray;
}

.carbon-logo-svg-3 {
	fill: $carbon-orange;
}

@mixin flex-container {
	position: relative;
	display: flex;

	&.full-cover > * {
		-ms-flex: 1 1 0;
		flex: 1 1 0;
		width: 0;
	}
}

.app-row {
	@include flex-container;
	-ms-flex-direction: row;
	flex-direction: row;

	&.right {
		justify-content: flex-end;
	}
}

.app-column {
	@include flex-container;
	-ms-flex-direction: column;
	flex-direction: column;
}

.loader {
	position: absolute;
	width: 100%;
	height: 100%;
	display: table;

	.loader--icon {
		display: table-cell;
		vertical-align: middle;
		text-align: center;

		& > svg {
			width: 150px;
			position: relative;
		}

		& > svg.rotate-left {
			right: 77px;
		}

		& > svg.rotate-right {
			left: 77px;
		}
	}
}

.rotate-left {
	-webkit-animation: spin-left 3s linear infinite;
	-moz-animation: spin-left 3s linear infinite;
	animation: spin-left 3s linear infinite;
}

@-moz-keyframes spin-left {
	100% {
		-moz-transform: rotate(-360deg);
	}
}

@-webkit-keyframes spin-left {
	100% {
		-webkit-transform: rotate(-360deg);
	}
}

@keyframes spin-left {
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}

.rotate-right {
	-webkit-animation: spin-right 3s linear infinite;
	-moz-animation: spin-right 3s linear infinite;
	animation: spin-right 3s linear infinite;
}

@-moz-keyframes spin-right {
	100% {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin-right {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin-right {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

// Material Icons
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(~material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
	local('MaterialIcons-Regular'),
	url(~material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
	url(~material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
	url(~material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

/**** Fix material theme issues ****/
.app-content {
	.mat-select-trigger {
		margin: .5em 0 1em;
	}

	.mat-input-wrapper {
		margin-bottom: 1.35em;

		.mat-input-infix {
			font-size: 16px;
		}

		.mat-input-underline {
			margin-top: 5px;
		}

		.mat-hint {
			font-size: 12px;
		}
	}
	.mat-input-placeholder.mat-float.mat-focused, .mat-input-placeholder.mat-float:not(.mat-empty) {
		transform: translateY(-1.65em) scale(.75);
	}
	.mat-input-placeholder-wrapper {
		overflow: visible;
	}
}
