<div class="app-message">
	This information is used to showcase our platform.<br>
	The information is not collected for commercial marketing purposes and we do not sell or distribute it for commercial marketing purposes.
</div>

<form (ngSubmit)="onSubmit()" #appForm="ngForm">
	<md-card>
		<md-card-title>Personal Info</md-card-title>

		<md-card-content>
			<!-- Nickname -->
			<div class="app-row">
				<md-input-container class="full-width">
					<input mdInput type="text" placeholder="Nickname" #nickname="ngModel" [(ngModel)]="newUser.nickname" name="nickname" autocomplete="false" required minlength="4" [textMask]="{mask: masks.nickname}" uniqueNickname #nicknameInput>
					<md-hint *ngIf="!nickname.pristine && nickname.errors">
						<span *ngIf="nickname.errors.required">The nickname is obligatory</span>
						<span *ngIf="nickname.errors.minlength">The nickname should be at least 4 characters long</span>
						<span *ngIf="nickname.errors.uniqueNickname">The nickname is already taken</span>
					</md-hint>
				</md-input-container>
			</div>

			<!-- Birth date -->
			<label class="input-label">Birth Date</label>
			<div class="app-row full-cover">
				<md-select placeholder="Day" [(ngModel)]="birthDate.day" name="birthDay">
					<md-option *ngFor="let element of getDaysOf( birthDate.month, birthDate.year ); let day = index" [value]="day + 1">
						{{ day + 1 }}
					</md-option>
				</md-select>
				<md-select placeholder="Month" [(ngModel)]="birthDate.month" name="birthMonth">
					<md-option *ngFor="let month of monthNames; let i = index" [value]="i">
						{{ month }}
					</md-option>
				</md-select>
				<md-select placeholder="Year" [(ngModel)]="birthDate.year" name="birthYear">
					<md-option *ngFor="let year of yearNames" [value]="year">
						{{ year }}
					</md-option>
				</md-select>
			</div>

			<!-- Place of birth -->
			<label class="input-label">Place of Birth</label>
			<div class="app-row full-cover">
				<md-select placeholder="Country" [(ngModel)]="newUser.birthCountry" name="birthCountry">
					<md-option *ngFor="let country of countries | async" [value]="country">
						{{ country.name }}
					</md-option>
				</md-select>
				<md-select placeholder="State" [(ngModel)]="newUser.birthState" name="birthState" [disabled]="isStateDisabled()">
					<md-option *ngFor="let state of newUser.birthCountry?.states" [value]="state">
						{{ state.name }}
					</md-option>
				</md-select>
				<md-input-container>
					<input mdInput type="text" placeholder="City" [(ngModel)]="newUser.birthCity" (ngModelChange)="autoCompleteChange($event, 'birthCity')" name="birthCity" [mdAutocomplete]="autoCities" (keydown.enter)="preventSubmit($event)">
				</md-input-container>
			</div>
			<md-autocomplete #autoCities="mdAutocomplete" [displayWith]="displayDataName">
				<md-option *ngFor="let city of filteredCities | async" [value]="city">
					{{ city.name }}
				</md-option>
			</md-autocomplete>

		</md-card-content>
	</md-card>


	<md-card>
		<md-card-title>Work Info</md-card-title>
		<md-card-content>
			<!-- Company -->
			<md-input-container class="full-width">
				<input mdInput placeholder="Company" [(ngModel)]="newUser.company" (ngModelChange)="autoCompleteChange($event, 'company')" name="company" [mdAutocomplete]="autoCompanies" (keydown.enter)="preventSubmit($event)">
			</md-input-container>
			<md-autocomplete #autoCompanies="mdAutocomplete" [displayWith]="displayDataName">
				<md-option *ngFor="let company of filteredCompanies | async" [value]="company">
					{{ company.name }}
				</md-option>
			</md-autocomplete>

			<!-- Technical preferences -->
			<label class="input-label">With which one do you identify the most?</label>
			<md-radio-group [(ngModel)]="newUser.worksOn" name="layerPreference" class="app-column">
				<md-radio-button *ngFor="let layer of workLayers | async" [value]="layer">{{ layer.name }}</md-radio-button>
			</md-radio-group>

			<br>
			<label class="input-label">Which OS do you prefer?</label>
			<md-radio-group [(ngModel)]="newUser.desktopOSPreference" name="desktopOSPreference" class="app-column">
				<md-radio-button *ngFor="let os of desktopOSs | async" [value]="os">{{ os.name }}</md-radio-button>
			</md-radio-group>

			<br>
			<label class="input-label">Which mobile OS do you prefer?</label>
			<md-radio-group [(ngModel)]="newUser.mobileOSPreference" name="mobileOSPreference" class="app-column">
				<md-radio-button *ngFor="let os of mobileOSs | async" [value]="os">{{ os.name }}</md-radio-button>
			</md-radio-group>
		</md-card-content>
	</md-card>

	<md-card>
		<md-card-title>Education Info</md-card-title>
		<md-card-content>
			<!-- Educational institute -->
			<md-input-container class="full-width">
				<input mdInput placeholder="University / College" [(ngModel)]="newUser.institute" (ngModelChange)="autoCompleteChange($event, 'institute')" name="institute" [mdAutocomplete]="autoInstitution" (keydown.enter)="preventSubmit($event)">
			</md-input-container>

			<md-autocomplete #autoInstitution="mdAutocomplete" [displayWith]="displayDataName">
				<md-option *ngFor="let institute of filteredInstitutes | async" [value]="institute">
					{{ institute.name }}
				</md-option>
			</md-autocomplete>
		</md-card-content>
	</md-card>

	<md-card>
		<md-card-title>Want to know more?</md-card-title>
		<md-card-content>
			<div class="app-message">
				For more information or to see the end result of this demo, please leave us your email.<br>
				We promise you we do not spam :)
			</div>
			<md-input-container class="full-width">
				<input mdInput type="email" placeholder="Email" [(ngModel)]="newUser.email" #email="ngModel" name="email" autocomplete="off" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
				<md-hint *ngIf="!email.pristine && email.errors">
					<span *ngIf="email.errors.pattern">The email is malformed</span>
				</md-hint>
			</md-input-container>
		</md-card-content>
	</md-card>

	<div class="app-row">
		<button type="reset" md-raised-button (click)="initForm( true )">Clear Form</button>
		<button type="submit" md-raised-button color="primary" [disabled]="appForm.invalid">Submit</button>
	</div>
</form>
