@import "../../styles/variables";

:host {
	& > *:last-child {
		padding-bottom: 1em;
	}

	button[type="reset"] {
		margin-left: auto;
	}
}

.app-message {
	background: rgba(0, 0, 0, 0.06);
	color: $black-87-opacity;
	border-left: 5px solid $carbon-orange;
	margin: 0 0 2em;
	padding: 24px;
}

md-card {
	margin-bottom: 2em;

	& .app-message {
		margin-bottom: 1em;
	}
}

md-input-container, md-select, md-radio-button, button {
	&:not(:last-child) {
		margin-right: 1.5em;
	}

	&.full-width {
		width: 100%;
	}
}

md-radio-group {
	margin-bottom: 0.5em;
}

.input-label {
	padding: 0.5em 0 0.8em;
	display: block;
	color: $black-87-opacity;
}