<div class="app-message">
	This information is used to showcase our platform.<br>
	The information is not collected for commercial marketing purposes and we do not sell or distribute it for commercial marketing purposes.
</div>

<form (ngSubmit)="onSubmit()" #appForm="ngForm">
	<md-card>
		<md-card-title>Personal Info</md-card-title>

		<md-card-content>
			<!-- Nickname -->
			<div class="app-row">
				<md-input-container class="full-width">
					<input mdInput type="text" placeholder="Nickname" #nickname="ngModel" [(ngModel)]="newUser.nickname" name="nickname" autocomplete="false" required minlength="2" [textMask]="{mask: masks.nickname}" uniqueNickname #nicknameInput>
					<md-hint *ngIf="!nickname.pristine && nickname.errors">
						<span *ngIf="nickname.errors.required">The nickname is obligatory</span>
						<span *ngIf="nickname.errors.minlength">The nickname should be at least 2 characters long</span>
						<span *ngIf="nickname.errors.uniqueNickname">The nickname is already taken</span>
					</md-hint>
				</md-input-container>
			</div>

			<!-- Birth date -->
			<label class="input-label">Birth Date</label>
			<div class="app-row full-cover">
				<md-select placeholder="Day" [(ngModel)]="birthDate.day" name="birthDay" #birthDayElement (keydown)="selectOptionFromKey($event, birthDayElement, true)">
					<md-option *ngFor="let element of getDaysOf( birthDate.month, birthDate.year ); let day = index" [value]="day + 1" (keyup.esc)="birthDayElement.close()" (keydown)="selectOptionFromKey($event, birthDayElement)">
						{{ day + 1 }}
					</md-option>
				</md-select>
				<md-select placeholder="Month" [(ngModel)]="birthDate.month" name="birthMonth" #birthMonthElement (keydown)="selectOptionFromKey($event, birthMonthElement, true)">
					<md-option *ngFor="let month of monthNames; let i = index" [value]="i" (keyup.esc)="birthMonthElement.close()" (keydown)="selectOptionFromKey($event, birthMonthElement)">
						{{ month }}
					</md-option>
				</md-select>
				<md-select placeholder="Year" [(ngModel)]="birthDate.year" name="birthYear" #birthYearElement (keydown)="selectOptionFromKey($event, birthYearElement, true)">
					<md-option *ngFor="let year of yearNames" [value]="year" (keyup.esc)="birthYearElement.close()" (keydown)="selectOptionFromKey($event, birthYearElement)">
						{{ year }}
					</md-option>
				</md-select>
			</div>

			<!-- Place of birth -->
			<label class="input-label">Place of Birth</label>
			<div class="app-row full-cover">
				<md-select placeholder="Country" [(ngModel)]="newUser.birthCountry" name="birthCountry" #birthCountrySelect (keydown.space)="$event.preventDefault()" (keydown)="selectOptionFromKey($event, birthCountrySelect, true)">
					<md-option *ngFor="let country of countries | async" [value]="country" (keyup.esc)="birthCountrySelect.close()" (keydown.space)="$event.preventDefault()" (keydown)="selectOptionFromKey($event, birthCountrySelect)">
						{{ country.name }}
					</md-option>
				</md-select>
				<md-select placeholder="State" [(ngModel)]="newUser.birthState" name="birthState" [disabled]="isStateDisabled()" #birthStateSelect (keydown)="selectOptionFromKey($event, birthStateSelect, true)">
					<md-option *ngFor="let state of newUser.birthCountry?.states" [value]="state" (keyup.esc)="birthStateSelect.close()" (keydown)="selectOptionFromKey($event, birthStateSelect)">
						{{ state.name }}
					</md-option>
				</md-select>
				<md-input-container>
					<input mdInput type="text" placeholder="City" [(ngModel)]="newUser.birthCity" #birthCityElement (ngModelChange)="autoCompleteChange($event, 'birthCity', birthCityElement)" name="birthCity" [mdAutocomplete]="autoCities" (keydown.enter)="preventSubmit($event)" (keyup.esc)="closeAutoCompletePanels()">
				</md-input-container>
			</div>
			<md-autocomplete #autoCities="mdAutocomplete" [displayWith]="displayDataName">
				<md-option *ngFor="let city of filteredCities | async" [value]="city">
					{{ city.name }}
				</md-option>
			</md-autocomplete>

		</md-card-content>
	</md-card>


	<md-card>
		<md-card-title>Work Info</md-card-title>
		<md-card-content>
			<!-- Company -->
			<md-input-container class="full-width">
				<input mdInput placeholder="Company" [(ngModel)]="newUser.company" #companyElement (ngModelChange)="autoCompleteChange($event, 'company', companyElement)" name="company" [mdAutocomplete]="autoCompanies" (keydown.enter)="preventSubmit($event)" (keyup.esc)="closeAutoCompletePanels($event)">
			</md-input-container>
			<md-autocomplete #autoCompanies="mdAutocomplete" [displayWith]="displayDataName">
				<md-option *ngFor="let company of filteredCompanies | async" [value]="company">
					{{ company.name }}
				</md-option>
			</md-autocomplete>
		</md-card-content>
	</md-card>

	<md-card>
		<md-card-title>Education Info</md-card-title>
		<md-card-content>
			<!-- Educational institute -->
			<md-input-container class="full-width">
				<input mdInput placeholder="University / College" [(ngModel)]="newUser.institute" #instituteElement (ngModelChange)="autoCompleteChange($event, 'institute', instituteElement)" name="institute" [mdAutocomplete]="autoInstitution" (keydown.enter)="preventSubmit($event)" (keyup.esc)="closeAutoCompletePanels($event)">
			</md-input-container>

			<md-autocomplete #autoInstitution="mdAutocomplete" [displayWith]="displayDataName">
				<md-option *ngFor="let institute of filteredInstitutes | async" [value]="institute">
					{{ institute.name }}
				</md-option>
			</md-autocomplete>
		</md-card-content>
	</md-card>

	<md-card>
		<md-card-title>Want to know more?</md-card-title>
		<md-card-content>
			<div class="app-message">
				For more information or to see the end result of this demo, please leave us your email.<br>
				We promise you we do not spam :)
			</div>
			<md-input-container class="full-width">
				<input mdInput type="email" placeholder="Email" [(ngModel)]="newUser.email" #email="ngModel" name="email" autocomplete="off" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
				<md-hint *ngIf="!email.pristine && email.errors">
					<span *ngIf="email.errors.pattern">The email is malformed</span>
				</md-hint>
			</md-input-container>
		</md-card-content>
	</md-card>

	<div class="app-row">
		<button type="submit" md-raised-button color="primary" [disabled]="appForm.invalid">Submit</button>
	</div>
</form>
