<!DOCTYPE html>
<html lang="en">
<head>
	<base href="/">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>NG-Conf Demo Product</title>
	<link rel="icon" type="image/svg+xml" href="<%= require( './favicon.svg' ) %>">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="mat-app-background">
	<app>
		<div class="loader">
			<div class="loader--icon">
				<svg class="rotate-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1536 1536">
					<path class="carbon-logo-svg-1" d="M84.37,620.32a133.16,133.16,0,0,1,88.85,34c46.59-246.36,242.16-440.22,488.7-483.16A135.06,135.06,0,0,1,662.35,2C326.45,47.29,58.55,311.1,5.69,646.09A133,133,0,0,1,84.37,620.32Z"/>
					<path class="carbon-logo-svg-1" d="M900.79,86.86a134.54,134.54,0,0,1-29.9,84.75c251.92,45.06,450.22,247.77,489.59,502.71a133.33,133.33,0,0,1,165.82-15.27c-47.77-340-316.52-609.46-655.15-656.62A134.6,134.6,0,0,1,900.79,86.86Z"/>
					<path class="carbon-logo-svg-1" d="M1453,906.7a133.42,133.42,0,0,1-93.8-38.49c-41.8,249.73-236.22,448-483.29,494.3a134.83,134.83,0,0,1-12.23,171c339-43.8,609.69-310.06,661.43-648.09A132.94,132.94,0,0,1,1453,906.7Z"/>
					<path class="carbon-logo-svg-1" d="M632.38,1440.59A134.48,134.48,0,0,1,657,1363C405.71,1317,208.22,1114.21,169.44,859.44A133.45,133.45,0,0,1,2,861.46C44.49,1211.92,321.34,1490.55,669.92,1534A134.62,134.62,0,0,1,632.38,1440.59Z"/>
					<path class="carbon-logo-svg-2" d="M851.77,1443.45c0,45.71-36.87,82.73-82.34,82.73s-82.35-37-82.35-82.73,36.87-82.73,82.35-82.73S851.77,1397.78,851.77,1443.45Z"/>
					<path class="carbon-logo-svg-2" d="M1534,775.15c0,45.69-36.89,82.73-82.36,82.73s-82.36-37-82.36-82.73,36.89-82.73,82.36-82.73S1534,729.46,1534,775.15Z"/>
					<path class="carbon-logo-svg-2" d="M851.77,89.71c0,45.69-36.87,82.73-82.34,82.73s-82.35-37-82.35-82.73S723.94,7,769.43,7,851.77,44,851.77,89.71Z"/>
					<path class="carbon-logo-svg-2" d="M169.57,758c0,45.67-36.87,82.73-82.34,82.73S4.87,803.7,4.87,758s36.87-82.75,82.35-82.75S169.57,712.32,169.57,758Z"/>
				</svg>
				<svg class="rotate-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1536 1536">
					<path class="carbon-logo-svg-3" d="M632.38,1132.15a134.58,134.58,0,0,1,42.34-98.1c-110.4-37.9-190.13-142.94-190.13-266.53,0-125.83,82.54-232.61,196-268.71A134.7,134.7,0,0,1,632.38,395.3c0-4.16.25-8.27.62-12.33C474.27,438.18,359.8,589.5,359.8,767.52c0,178.43,115,330.06,274.27,385A135.71,135.71,0,0,1,632.38,1132.15Z"/>
					<path class="carbon-logo-svg-3" d="M900.22,384.1c.31,3.71.57,7.43.57,11.2a134.72,134.72,0,0,1-49.18,104.29c112.4,36.75,193.93,142.89,193.93,267.93,0,122.79-78.69,227.2-188,265.73a134.59,134.59,0,0,1,43.2,98.9,138.24,138.24,0,0,1-1.5,19.14c157.6-55.84,271.06-206.55,271.06-383.77C1170.34,590.67,1057.33,440.2,900.22,384.1Z"/>
					<path class="carbon-logo-svg-2" d="M851.77,1135c0,45.71-36.87,82.73-82.34,82.73s-82.35-37-82.35-82.73,36.87-82.73,82.35-82.73S851.77,1089.33,851.77,1135Z"/>
					<path class="carbon-logo-svg-2" d="M851.77,398.16c0,45.71-36.87,82.73-82.34,82.73s-82.35-37-82.35-82.73,36.87-82.73,82.35-82.73S851.77,352.46,851.77,398.16Z"/>
				</svg>
			</div>
		</div>
	</app>
</body>
</html>