:host {
	flex: 1 1 auto;
	height: 100%;

	display: flex;
	flex-direction: column;
}

.graph {
	flex: 1 1 auto;
	height: 100%;
}

.processing {
	position: absolute;
	display: table;
	width: 100%;
	height: 100%;
	top: 30%;

	.progressing__icon {
		margin: auto;
	}
}